In [18]:
import pandas as pd
all_fundings = pd.read_parquet('C:/Users/Tibor/Sandbox/allfundings.parquet')
funding_btc = all_fundings[['BTC-PERP/rate/funding']]
funding_btc = funding_btc.sort_index()
funding_btc

                     BTC-PERP/rate/funding
2019-03-06 15:00:00              -0.087660
2019-03-06 16:00:00              -0.175320
2019-03-06 17:00:00              -0.175320
2019-03-06 18:00:00              -0.175320
2019-03-06 19:00:00              -2.191500
...                                    ...
2021-11-09 07:00:00               0.219150
2021-11-09 08:00:00               0.271746
2021-11-09 09:00:00               0.306810
2021-11-09 10:00:00               0.324342
2021-11-09 11:00:00               0.262980

[23438 rows x 1 columns]

In [19]:
import pandas as pd
btc_spot = pd.read_parquet('C:/Users/Tibor/Sandbox/ftx_BTC_price.parquet')
btc_spot = btc_spot[['BTC/price/o']]
btc_spot = btc_spot.sort_index()
btc_spot

                     BTC/price/o
2019-07-21 14:11:30      10529.0
2019-07-21 14:11:45      10529.0
2019-07-21 14:12:00      10530.5
2019-07-21 14:12:15      10531.5
2019-07-21 14:12:30      10530.0
...                          ...
2021-11-04 18:54:00      61108.0
2021-11-04 18:54:15      61032.0
2021-11-04 18:54:30      61038.0
2021-11-04 18:54:45      61037.0
2021-11-04 18:55:00      61037.0

[1445783 rows x 1 columns]

In [20]:
start_time = max(funding_btc.index[0], btc_spot.index[0])
funding_btc = funding_btc[funding_btc.index >= start_time]
btc_spot = btc_spot[btc_spot.index >= start_time]
start_time

Timestamp('2019-07-21 14:11:30')

In [22]:
btc_spot

                     BTC/price/o
2019-07-21 14:11:30      10529.0
2019-07-21 14:11:45      10529.0
2019-07-21 14:12:00      10530.5
2019-07-21 14:12:15      10531.5
2019-07-21 14:12:30      10530.0
...                          ...
2021-11-04 18:54:00      61108.0
2021-11-04 18:54:15      61032.0
2021-11-04 18:54:30      61038.0
2021-11-04 18:54:45      61037.0
2021-11-04 18:55:00      61037.0

[1445783 rows x 1 columns]